@import '../../../../bacc/node_modules/@angular/material/prebuilt-themes/indigo-pink.css';


md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #6e6e6e;
  color: white;
}


.app-toolbar-filler {
  flex: 1 1 auto;
}




