[ng-click]:hover {
  cursor: pointer;
}

/*mat-content.mat-default-theme {*/
  /*background-color: #eee;*/
/*}*/


mat-nav-list {
  margin-top: 50%;
}

mat-divider {
  margin-top: 4px;
  margin-bottom: 4px;
}
mat-list-item.mat-2-line {
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}

mat-list-item.mat-2-line > * :hover{
  background-color: #ff5cb2;
}

.btnItem {
  margin-right: 15px;
}

#sidebar {
  color: #ffffff !important;
}

#sidebar mat-icon {
  font-size: 32px;
}

