{{#images.length}}
  <table id="images" class="table">
    <thead>
    <th>{{labeling.image}}</th>
    <th style="width:80px"></th>
    <th>{{labeling.imgDescription}}</th>
    </thead>
    <tbody>
    <!--{{#images}}-->
    <tr>
      <td>
        <img src="data/{{src}}" alt="{{alt}}"/>
      </td>
      <td style="width:80px"></td>
      <td>
        <div class="panel panel-warning">
          <div class="panel-heading">
            {{labeling.description}}
          </div>
          <div class="panel-body">
            <p><strong>{{labeling.location}}</strong> :: {{location}}</p>
            <p><code>alt</code> ::  {{alt}}</p>
            <p><code>figcaption</code> :: {{figcaption}}</p>
            <p><code>aria-describedby</code> :: </p>
            <p>
              <strong>{{labeling.code}}</strong>
            <pre><code class="html">{{html}}</code></pre>
            </p>
          </div>
        </div>
      </td>
    </tr>
      <!--{{/images}}-->
    </tbody>
  </table>
{{/images.length}}
{{^images.length}}
  <span class="info">{{labeling.infoNoImage}}</span>
{{/images.length}}
