<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading tooltip-active" data-toggle="tooltip" data-placement="top"
             title="{{{labeling.tooltipTOC}}}">
          {{{labeling.tocEPUB}}}
        </div>
        <div class="panel-body">
          {{{outlines.toc}}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading tooltip-active" data-toggle="tooltip" data-placement="top"
             title='{{labeling.tooltipHeadings}}'>
          {{{labeling.headingsOutline}}}
        </div>
        <div class="panel-body">
          {{{outlines.headings}}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading tooltip-active" data-toggle="tooltip" data-placement="top"
             title='{{labeling.tooltipSections}}'>
          {{{labeling.htmlOutline}}}
        </div>
        <div class="panel-body">
          {{{outlines.html}}}
        </div>
      </div>
    </div>
  </div>
</div>
