{{#groups.rules.length}}
  <div class="container" role="region" aria-label="{{labeling.dialogViolations}}">
    <div class="row">
      <!-- +++++++++++++++++++++++++++++ -->
      <!-- rule violations groupBy rules -->
      <!-- +++++++++++++++++++++++++++++ -->
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body scrollable-area-table">
            <table id="template-violation-table" class="table table-striped table-hover template-table"
                   data-click-to-select="true" data-single-select="true">
              <thead class="thead-violations">
              <th class="col-md-2" scope="col">{{labeling.violationImpact}}</th>
              <th class="col-md-8" scope="col">{{labeling.violation}}</th>
              <th class="col-md-4" scope="col">{{labeling.guideline}}</th>
              <th class="col-md-1" scope="col">{{labeling.count}}</th>
              </thead>
              <tbody>
              <!--{{#groups.rules}}-->
              <tr id="{{name}}" tabindex="0">
                <td class="col-md-2" scope="row">
                  <span class="sr-only" aria-labelledby="{{name}}-impact-icon">{{impact.label}}</span>
                  <i id="{{name}}-impact-icon" class="material-icons mat-36" style="color:{{impact.color}}"
                     aria-hidden="true">accessibility</i>
                </td>
                <td class="col-md-8" lang="en">{{name}}</td>
                <td class="col-md-5">{{ruleSet}}</td>
                <td class="col-md-1">{{count}}</td>
              </tr>
                <!--{{/groups.rules}}-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- ++++++++++++++++++++++++++ -->
      <!-- details rule violations    -->
      <!-- ++++++++++++++++++++++++++ -->
      <div class="col-md-6">
        <section>
          <div id="details" class="panel panel-default">
            <div class="panel-heading">
              <h5 class="ruleDescription" tabindex="0"></h5>
              <!-- +++++++++++ -->
              <!-- pager -->
              <!-- +++++++++++ -->
              <nav style="margin-top: 31px" class="violation-nav" aria-label="{{labeling.vioNav}}">
                <button style="display: inline-block" class="btn btn-outline-primary btn-sm btnPagerPrev" href="#"
                        aria-label="{{labeling.detailsPrevious}}">
                  <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <h6 style="display: inline-block" id="pagerIndexViolations"></h6>
                <button style="display: inline-block" class="btn btn-outline-primary btn-sm btnPagerNext" href="#"
                        aria-label="{{labeling.detailsNext}}">
                  <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                </button>
              </nav>
            </div>
            <div class="panel-body">
            <!--{{#groups.rules}}-->
              <div id="p-{{name}}" class="violation" style="display: none">
              <!--{{#fails}}-->
                <div class="violation" index="{{index}}" rule="{{help.dct:description}}">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      {{labeling.file}}: <strong><a>{{spineItem}}</a></strong>
                    </div>
                    <div class="panel-body">
                      <!-- +++++++++++ -->
                      <!-- description -->
                      <!-- +++++++++++ -->
                      <div class="panel-body">
                        <p><strong>{{labeling.optimiseHints}}</strong></p>
                        <p>{{{shortHelp}}}</p>
                      </div>
                      <!-- +++++++++++ -->
                      <!-- source code  -->
                      <!-- +++++++++++ -->
                      {{#code}}
                        <div aria-labelledby="source-code">
                              <pre style="display: inline-flex">
                                <code class="html">{{code}}</code>
                              </pre>
                        </div>
                      {{/code}}
                      <div style="float: right">
                        <a target="_blank" href="{{help.url}}">{{labeling.help}}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--{{/fails}}-->
              </div>
              <!--{{/groups.rules}}-->
            </div>
          </div>
          <div id="jumpback">
            <a href="#" onclick="jumpBack()">{{labeling.jumpBack}}</a>
          </div>
        </section>
      </div>
    </div>
  </div>
{{/groups.rules.length}}
{{^groups.rules.length}}
  <!-- +++++++++++++++ -->
  <!--  none issues    -->
  <!-- +++++++++++++++ -->
  <div>
    <span class="sr-only" aria-labeledby="total-impact-icon">{{totalAccessibilityLevel.label}}</span>
    <i id="total-impact-icon"
       aria-hidden="true"
       class="material-icons no-issues-icon"
       style="color:Green;">sentiment_very_satisfied</i>
    <span class="info">{{labeling.infoNoViolation}}</span>
  </div>
{{/groups.rules.length}}
