/*@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';*/
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

.check-over-whole-wrapper {
  color: #949494;
  width: 100vh;
  text-align: center;
}

.upload * {
  margin: 1% 0;
}

.my-drop-zone {
  border: dotted 5px lightgray;
  background-color: white;
  margin-top: 40px;
  height: 30vh;
  min-height: 250px;
}

.nv-file-over {
  border: dotted 5px #027a49;
}

.btn-file {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  background-color: whitesmoke;

}

.btn-file:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2);
}

.btn-file[disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
}

.cloud-icon-upload {
  font-size: 72px;
  height: 72px;
  width: 72px;
}

.btn-delete-all, .btn-save-all {
  line-height: 32px;
}

.btn-delete-all {
  margin-right: 10px;
}

.btn-save-all {
  padding: 0 40px;
  margin-left: 10px;
}

.own-table-layout table tr:nth-child(even) {
  background-color: #eee;
}

.own-table-layout table tr:nth-child(odd) {
  background-color: #fff;
}

.own-table-layout table th {
  color: white;
  background-color: #838383;
}

.own-table-layout th, td {
  padding: 10px;
}

/*.own-table-layout thead tr th:first-child, tbody tr td:first-child {*/
/*padding-right: 5%;*/
/*}*/
.custom-progressbar {
  height: 5px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.sr-label {
  height: 1px !important;
  width: 1px !important;
  position: relative;
}

.table-fixed tbody {
  height: 20px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
  text-align: center
}

.table-fixed tr:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}

.table-fixed tbody td,
.table-fixed thead > tr > th {
  float: left;
}

.col1 {
  width: 17%;
}

.col2 {
  width: 27%;
  word-wrap: break-word;
}

.col3, .col4, .col5, .col6 {
  width: 14%;
}

.col1, .col2, .col4, .col5 {
  padding-top: 19px;
}

@media screen and (max-height: 700px) {

  .cloud-icon-upload {
    font-size: 24px;
    height: 24px;
    width: 24px;
  }

  .my-drop-zone {
    margin-top: 20px;
    min-height: 100px;
  }

  .col1, .col2, .col4, .col5 {
    padding-top: 0px;
  }

  #checkover-tbody {
    height: 50px !important;
  }

  button {
    min-height: 23px !important;
    min-width: 46px !important;
    font-size: 10px !important;
    line-height: 0px;
  }

  .check-over-whole-wrapper {
    width: 80vh;
  }

  .table-fixed td {
    padding-top: 0px;
  }

  .material-icons {
    font-size: 16px;
  }

  .mat-icon-button .mat-icon, .mat-icon-button i {
    line-height: 10px;
  }
}

@media screen and (max-height: 824px) {

  #checkover-tbody {
    height: 125px !important;
  }
}

.sr-label {
  height: 1px !important;
  width: 1px !important;
  position: relative;
}


.upload-text {
  line-height: 1.1;
  font-size: 18px;
}
