.a11y-legend {
  position: absolute;
  bottom: 2px;
  left: 2px;
  border: 2px solid #a1a1a1;
  border-radius: 25px;
}

.a11y-legend mat-icon{
  font-size: 26px;
}


.a11y-legend tr, td {
  padding: 4px  5px  2px 5px;
  text-align: center;
}
