<!DOCTYPE html>
<html lang="{{lang}}">
{{> head}}
<body id="report">
<div class="header">
  <div class="header-title">
    <span>{{> logo}}</span>
    <span style="margin-left: 10px; top: -10px; position: relative;">BACC REPORT</span>
  </div>
  <header>
    <h1 class="bookTitle">{{metaData.dc:title}}  </h1>
    <span class="sr-only" aria-labeledby="total-impact-icon">{{totalAccessibilityLevel.label}}</span>
    <i id="total-impact-icon" class="material-icons"
       style="color:{{totalAccessibilityLevel.color}}; font-style: normal!important; font-size: 36px"
       aria-hidden="true">accessibility</i>
    <br><br>
    <span class="check-date"><b>{{labeling.checkDate}}:</b> {{checkDate}}</span> -
    <span class="check-date"><b>EPUB version:</b> {{epubVersion}}</span> -
    <span class="check-date"><b>BACC version:</b> {{version}}</span>
  </header>
</div>
<div class="subheader"></div>
<div class="tab-wrap">
  <!-- +++++++++++++++ -->
  <!-- violations tab  -->
  <!-- +++++++++++++++ -->
  <input type="radio" name="tabs" id="violation" checked>
  <div class="tab-label-content">
    <label for="violation">{{labeling.violationTab}}
      {{#groups.totalCountRules}}
        <mark>{{groups.totalCountRules}}</mark>
      {{/groups.totalCountRules}}
    </label>
    <div class="tab-content">
      {{> violations}}
    </div>
  </div>
  <!-- +++++++++++++++ -->
  <!-- hints tab  -->
  <!-- +++++++++++++++ -->
  <input type="radio" name="tabs" id="hints">
  <div class="tab-label-content">
    <label id="lbHintsTab" for="hints">{{labeling.hints}}{{#groups.totalCountHints}}
      <mark>{{groups.totalCountHints}}</mark>{{/groups.totalCountHints}}
    </label>
    <div class="tab-content">
      {{> hints}}
    </div>
  </div>
  <!-- +++++++++++++++ -->
  <!-- metadata tab  -->
  <!-- +++++++++++++++ -->
  <input type="radio" name="tabs" id="metadata">
  <div class="tab-label-content">
    <label for="metadata">{{labeling.metadata}}</label>
    <div class="tab-content">
      {{> metadata}}
    </div>
  </div>
  <!-- +++++++++++++ -->
  <!-- tab outlines  -->
  <!-- +++++++++++++ -->
  <input type="radio" name="tabs" id="outline">
  <div class="tab-label-content">
    <label for="outline">{{labeling.outlines}}</label>
    <div class="tab-content">
      {{> outlines}}
    </div>
  </div>
  <!-- +++++++++++ -->
  <!-- tabs images -->
  <!-- +++++++++++ -->
  <input type="radio" name="tabs" id="image-description">
  <div class="tab-label-content" id="tab3-content">
    <label for="image-description">{{labeling.imgDescription}}</label>
    <div class="tab-content">
      {{> images}}
    </div>
  </div>
  <div class="slide"></div>
</div>
<div id="ariaLive" class="sr-only" role="status" aria-live="polite"></div>
<div id="detailsStatusString" class="hidden">{{labeling.updateDetails}}</div>
{{> script}}
</body>
</html>
