<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./../report.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
  <script>hljs.initHighlightingOnLoad();</script> <!--style see report.css-->
</head>
<body id="report">
<div class="header">
  <span class="header-title">BACC REPORT</span>
  <span class="bookTitle">{{metaData.dc:title}}   </span>
  <span class="sr-only" aria-labeledby="total-impact-icon">{{totalAccessibilityLevel.label}}</span>
  <i id="total-impact-icon" class="material-icons"
     style="color:{{totalAccessibilityLevel.color}}; font-style: normal!important; font-size: 36px"
     aria-hidden="true">accessibility</i>
  <br>
  <span class="check-date">{{labeling.checkDate}}: {{checkDate}}</span>
</div>
<div class="subheader">
</div>
<div class="tab-wrap">
  <!-- +++++++++++++++ -->
  <!-- violations tab  -->
  <!-- +++++++++++++++ -->
  <input type="radio" name="tabs" id="violation" checked>
  <div class="tab-label-content">
    <label for="violation">{{labeling.violationTab}}
      {{#totalCount}}
        <mark>{{totalCount}}</mark>
      {{/totalCount}}
    </label>
    <div class="tab-content">
      {{#groups.rules.length}}
        <div class="container" role="region" aria-label="{{labeling.dialogViolations}}">
          <div class="row">
            <!-- +++++++++++++++++++++++++++++ -->
            <!-- rule violations groupBy rules -->
            <!-- +++++++++++++++++++++++++++++ -->
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <table id="template-violation-table"
                         class="table table-striped table-hover"
                         data-click-to-select="true"
                         data-single-select="true">
                    <caption>{{labeling.total}}: {{groups.totalCountRules}}</caption>
                    <thead class="thead-violations">
                    <th class="col-md-2">{{labeling.violationImpact}}</th>
                    <th class="col-md-8">{{labeling.violation}}</th>
                    <th class="col-md-4">{{labeling.guideline}}</th>
                    <th class="col-md-2">{{labeling.count}}</th>
                    </thead>
                    <tbody>
                    <!--{{#groups.rules}}-->
                    <tr id="{{name}}">
                      <td class="col-md-2">
                        <span class="sr-only" aria-labelledby="{{name}}-impact-icon">{{impact.label}}</span>
                        <i id="{{name}}-impact-icon" class="material-icons mat-36" style="color:{{impact.color}}"
                           aria-hidden="true">accessibility</i>
                      </td>
                      <td class="col-md-7">{{name}}</td>
                      <td class="col-md-3">{{ruleSet}}</td>
                      <td class="col-md-2">{{count}}</td>
                    </tr>
                      <!--{{/groups.rules}}-->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- ++++++++++++++++++++++++++ -->
            <!-- details rule violations    -->
            <!-- ++++++++++++++++++++++++++ -->
            <div class="col-md-6">
              <div id="details" class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="ruleDescription"></h5>
                  <!-- +++++++++++ -->
                  <!-- pager -->
                  <!-- +++++++++++ -->
                  <nav style="margin-top: 31px" class="violation-nav" aria-label="{{labeling.vioNav}}">
                    <button style="display: inline-block" class="btn btn-outline-primary btn-sm btnPagerPrev" href="#"
                            aria-label="{{labeling.detailsPrevious}}">
                      <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <h6 style="display: inline-block" id="pagerIndexViolations"></h6>
                    <button style="display: inline-block" class="btn btn-outline-primary btn-sm btnPagerNext" href="#"
                            aria-label="{{labeling.detailsNext}}">
                      <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                  </nav>
                </div>
                <div class="panel-body">
                <!--{{#groups.rules}}-->
                  <div id="p-{{name}}" class="violation" style="display: none">
                  <!--{{#fails}}-->
                    <div class="violation" index="{{index}}" rule="{{help.dct:description}}">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          {{labeling.file}}: <b><a>{{spineItem}}</a></b>
                        </div>
                        <div class="panel-body">
                          <!-- +++++++++++ -->
                          <!-- description -->
                          <!-- +++++++++++ -->
                          <div class="panel-body">
                            <p><b>{{labeling.optimiseHints}}</b></p>
                            <p>{{{shortHelp}}}</p>
                          </div>
                          <!-- +++++++++++ -->
                          <!-- source code  -->
                          <!-- +++++++++++ -->
                          {{#code}}
                            <div aria-labelledby="source-code">
                              <pre style="display: inline-flex">
                                <code class="html">{{code}}</code>
                              </pre>
                            </div>
                          {{/code}}
                          <div style="float: right">
                            <a target="_blank" href="{{help.url}}">{{labeling.help}}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--{{/fails}}-->
                  </div>
                  <!--{{/groups.rules}}-->
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/groups.rules.length}}
      {{^groups.rules.length}}
        <!-- +++++++++++++++ -->
        <!--  none issues    -->
        <!-- +++++++++++++++ -->
        <div>
          <span class="sr-only" aria-labeledby="total-impact-icon">{{totalAccessibilityLevel.label}}</span>
          <i id="total-impact-icon"
             role="img"
             aria-hidden="true"
             class="material-icons no-issues-icon"
             style="color:{{totalAccessibilityLevel.color}};">sentiment_very_satisfied</i>
        </div>
      {{/groups.rules.length}}
    </div>
  </div>
  <!-- +++++++++++++++ -->
  <!-- hints tab  -->
  <!-- +++++++++++++++ -->
  <input type="radio" name="tabs" id="hints">
  <div class="tab-label-content">
    <label id="lbHintsTab" for="hints">{{labeling.hints}}{{#groups.totalCountHints}}
      <mark>{{groups.totalCountHints}}</mark>{{/groups.totalCountHints}}
    </label>
    <div class="tab-content">
      {{#groups.hints.length}}
        <div class="container violation-container" role="region" aria-label="{{labeling.dialogViolations}}">
          <div class="row">
            <!-- ++++++ -->
            <!-- hints  -->
            <!-- ++++++ -->
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <table id="template-hints-table"
                         class="table table-striped table-hover"
                         data-click-to-select="true"
                         data-single-select="true">
                    <!--<caption>{{labeling.total}}: {{totalCount}}</caption>-->
                    <thead class="thead-violations">
                    <th class="col-md-1">{{labeling.violationImpact}}</th>
                    <th class="col-md-6">{{labeling.hints}}</th>
                    <th class="col-md-1">{{labeling.count}}</th>
                    </thead>
                    <tbody>
                    <!--{{#groups.hints}}-->
                    <tr id="{{name}}">
                      <td class="col-md-2">
                        <span class="sr-only" aria-labelledby="{{name}}-impact-icon">{{impact.label}}</span>
                        <i id="{{name}}-impact-icon" class="material-icons mat-36" style="color:{{impact.color}}"
                           aria-hidden="true">accessibility</i>
                      </td>
                      <td class="col-md-2">{{name}}</td>
                      <td class="col-md-2">{{count}}</td>
                    </tr>
                      <!--{{/groups.hints}}-->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- ++++++++++++++++ -->
            <!-- details hints    -->
            <!-- ++++++++++++++++ -->
            <div class="col-md-6">
              <div id="details" class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="ruleDescription"></h5>
                  <!-- +++++++++++ -->
                  <!-- pager -->
                  <!-- +++++++++++ -->
                  <nav style="margin-top: 31px" class="violation-nav" aria-label="{{labeling.vioNav}}">
                    <button style="display: inline-block" class="btn btn-outline-primary btn-sm btnPagerPrev" href="#"
                            aria-label="{{labeling.detailsPrevious}}">
                      <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <h6 style="display: inline-block" id="pagerIndexHints"></h6>
                    <button style="display: inline-block" class="btn btn-outline-primary btn-sm btnPagerNext" href="#"
                            aria-label="{{labeling.detailsNext}}">
                      <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                  </nav>
                </div>
                <div class="panel-body">
                <!--{{#groups.hints}}-->
                  <div id="p-{{name}}" class="violation" style="display: none">
                  <!--{{#fails}}-->
                    <div class="violation" index="{{index}}" rule="{{help.dct:description}}">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          {{labeling.file}}: <b><a>{{spineItem}}</a></b>
                        </div>
                        <div class="panel-body">
                          <!-- +++++++++++ -->
                          <!-- description -->
                          <!-- +++++++++++ -->
                          <div class="panel-body">
                            <p><b>{{labeling.optimiseHints}}</b></p>
                            <p>{{{shortHelp}}}</p>
                          </div>
                          <!-- +++++++++++ -->
                          <!-- source code  -->
                          <!-- +++++++++++ -->
                          {{#code}}
                            <div aria-labelledby="source-code">
                              <pre style="display: inline-flex">
                                <code class="html">{{code}}</code>
                              </pre>
                            </div>
                          {{/code}}
                          <div style="float: right">
                            <a target="_blank" href="{{help.url}}">{{labeling.help}}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--{{/fails}}-->
                  </div>
                  <!--{{/groups.hints}}-->
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/groups.hints.length}}
      {{^groups.hints.length}}
        <!-- +++++++++++++++ -->
        <!--  none hints    -->
        <!-- +++++++++++++++ -->
        <div>
          <span class="sr-only" aria-labeledby="total-impact-icon">{{totalAccessibilityLevel.label}}</span>
          <i id="total-impact-icon"
             role="img"
             aria-hidden="true"
             class="material-icons no-issues-icon"
             style="color:green;">sentiment_very_satisfied</i>
        </div>
      {{/groups.hints.length}}
    </div>
  </div>
  <!-- +++++++++++++++ -->
  <!-- metadata tab  -->
  <!-- +++++++++++++++ -->
  <input type="radio" name="tabs" id="metadata">
  <div class="tab-label-content">
    <label for="metadata">{{labeling.metadata}}</label>
    <div class="tab-content">
      <section>
        <div class="container violation-container" role="region" aria-label="{{labeling.dialogViolations}}">
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Metadata</h4>
                </div>
                <div class="panel-body">
                  <ul class="list-group">
                    {{#metaData.dc:date.length}}
                      <li class="list-group-item">
                        <b class="space-right">Date: </b>
                          {{#metaData.dc:date}}
                            <span>{{.}};  </span>
                          {{/metaData.dc:date}}
                      </li>
                    {{/metaData.dc:date.length}}
                    <li class="list-group-item">
                      <b class="space-right">Identifier: </b>
                      {{#metaData.dc:identifier}}
                        <span class="metadata-success">{{metaData.dc:identifier}}</span>
                      {{/metaData.dc:identifier}}
                      {{^metaData.dc:identifier}}
                        <span class="metadata-failed">Missing</span>
                      {{/metaData.dc:identifier}}
                    </li>
                    <li class="list-group-item">
                      <b class="space-right">Language: </b>
                      {{#metaData.dc:language}}
                        <span class="metadata-success">{{metaData.dc:language}}</span>
                      {{/metaData.dc:language}}
                      {{^metaData.dc:language}}
                        <span class="metadata-failed">Missing</span>
                      {{/metaData.dc:language}}
                    </li>
                    </li>
                    <li class="list-group-item">
                      <b class="space-right">Title: </b>
                      {{#metaData.dc:title}}
                        <span class="metadata-success">{{metaData.dc:title}}</span>
                      {{/metaData.dc:title}}
                      {{^metaData.dc:title}}
                        <span class="metadata-failed">Missing</span>
                      {{/metaData.dc:title}}
                    </li>
                    </li>
                    <li class="list-group-item">
                      <b class="space-right">Modified: </b>
                      {{#metaData.dcterms:modified}}
                        <span class="metadata-success">{{metaData.dcterms:modified}}</span>
                      {{/metaData.dcterms:modified}}
                      {{^metaData.dcterms:modified}}
                        <span class="metadata-failed">Missing</span>
                      {{/metaData.dcterms:modified}}
                    </li>
                    </li>
                    {{#metaData.dc:rights}}
                      <li class="list-group-item"><b class="space-right">Rights: </b>{{metaData.dc:rights}}</li>
                    {{/metaData.dc:rights}}
                    {{#metaData.dc:creator}}
                      <li class="list-group-item"><b class="space-right">Creator: </b>{{metaData.dc:creator}}</li>
                    {{/metaData.dc:creator}}
                    {{#metaData.dc:contributor.length}}
                      <li class="list-group-item"><b>Contributors: </b>
                        <ul>
                          {{#metaData.dc:contributor}}
                            <li>{{.}}</li>
                          {{/metaData.dc:contributor}}
                        </ul>
                      </li>
                    {{/metaData.dc:contributor.length}}
                    {{#metaData.dc:source}}
                      <li class="list-group-item"><b class="space-right">Source: </b>{{metaData.dc:source}}</li>
                    {{/metaData.dc:source}}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Accessibility metadata</h4>
                </div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <b>AccessMode:<br><br></b>
                      <ul>
                        {{#metaData.schema:accessMode}}
                          <li class="metadata-success">{{.}}</li>
                        {{/metaData.schema:accessMode}}
                        {{^metaData.schema:accessMode}}
                          <span class="metadata-failed">Missing</span>
                        {{/metaData.schema:accessMode}}
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <b>AccessModeSufficient:<br><br></b>
                      <ul>
                        {{#metaData.schema:accessModeSufficient}}
                          <li class="metadata-success">{{.}}</li>
                        {{/metaData.schema:accessModeSufficient}}
                        {{^metaData.schema:accessModeSufficient}}
                          <span class="metadata-failed">Missing</span>
                        {{/metaData.schema:accessModeSufficient}}
                      </ul>
                    </li>
                    <li class="list-group-item "><b>AccessibilitySummary: <br><br></b>
                      <ul>
                        {{#metaData.schema:accessibilitySummary}}
                          <span class="metadata-success">{{metaData.schema:accessibilitySummary}}</span>
                        {{/metaData.schema:accessibilitySummary}}
                        {{^metaData.schema:accessibilitySummary}}
                          <span class="metadata-failed">Missing</span>
                        {{/metaData.schema:accessibilitySummary}}
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <b>AccessibilityFeature:<br><br></b>
                      <ul>
                        {{#metaData.schema:accessibilityFeature}}
                          <li class="metadata-success">{{.}}</li>
                        {{/metaData.schema:accessibilityFeature}}
                        {{^metaData.schema:accessibilityFeature}}
                          <span class="metadata-failed">Missing</span>
                        {{/metaData.schema:accessibilityFeature}}
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- +++++++++++++ -->
  <!-- tab outlines  -->
  <!-- +++++++++++++ -->
  <input type="radio" name="tabs" id="outline" aria-hidden="true">
  <div class="tab-label-content" aria-hidden="true">
    <label for="outline">{{labeling.outlines}}</label>
    <div class="tab-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <b>{{labeling.tocEPUB}}</b>
              </div>
              <div class="panel-body">
                {{{outlines.toc}}}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                {{{labeling.headingsOutline}}}
              </div>
              <div class="panel-body">
                {{{outlines.headings}}}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                {{{labeling.htmlOutline}}}
              </div>
              <div class="panel-body">
                {{{outlines.html}}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- +++++++++++ -->
  <!-- tabs images -->
  <!-- +++++++++++ -->
  <input type="radio" name="tabs" id="image-description" aria-hidden="true">
  <div class="tab-label-content" id="tab3-content" aria-hidden="true">
    <label for="image-description">{{labeling.imgDescription}}</label>
    <div class="tab-content">
      <table id="images" class="table">
        <thead>
        <th>{{labeling.image}}</th>
        <th style="width:80px"></th>
        <th>{{labeling.imgDescription}}</th>
        </thead>
        <tbody>
        <!--{{#images}}-->
        <tr>
          <td>
            <img src="data/{{src}}" alt="{{alt}}"/>
          </td>
          <td style="width:80px"></td>
          <td>
            <div class="panel panel-warning">
              <div class="panel-heading">
                {{labeling.description}}
              </div>
              <div class="panel-body">
                <p><b>{{labeling.location}}</b> :: {{location}}</p>
                <p><code>alt</code> ::  {{alt}}</p>
                <p><code>figcaption</code> :: {{figcaption}}</p>
                <p><code>aria-describedby</code> :: </p>
                <p>
                  <b>{{labeling.code}}</b>
                <pre><code class="html">{{html}}</code></pre>
                </p>
              </div>
            </div>
          </td>
        </tr>
          <!--{{/images}}-->
        </tbody>
      </table>
    </div>
  </div>
  <div class="slide"></div>
</div>
<div id="ariaLive" class="sr-only" role="status" aria-live="polite"></div>
<div id="detailsStatusString" class="hidden">{{labeling.updateDetails}}</div>
<script>

  var vioPanel;
  //
  // prev button
  //
  $('button.btnPagerPrev').on('click', function (e) {
    e.preventDefault();
    const that = $(vioPanel + ':visible');

    if (that.prev(vioPanel).length > 0) {
      $(vioPanel).hide();
      that.hide().prev(vioPanel).show()
    }
    prefNextBtnState();
  });

  //
  // next button
  //
  $('button.btnPagerNext').on('click', function (e) {
    e.preventDefault();
    const that = $(vioPanel + ':visible');

    if (that.next(vioPanel).length > 0) {
      $(vioPanel).hide();
      that.next(vioPanel).show()
    }
    prefNextBtnState();
  });


  $('#template-violation-table > tbody > tr').click(function () {
    selectDetails(this);
  });

  $('#template-violation-table > tbody > tr').keypress(function (event) {
    if (event.which == 13) selectDetails(this);
  });

  $('#template-hints-table > tbody > tr').click(function () {
    selectDetails(this);
  });

  $('#template-hints-table > tbody > tr').keypress(function (event) {
    if (event.which == 13) selectDetails(this);
  });


  setTimeout(function () {
    //
    // first load select first row
    //
    $('#template-violation-table > tbody > tr').first().trigger('click');
  }, 500);

  $('input[id="hints"]').on('click', function (e) {
    $('#template-hints-table > tbody > tr').first().trigger('click');
  });

  $('input[id="violation"]').on('click', function (e) {
    $('#template-violation-table > tbody > tr').first().trigger('click');
  });
totalCount
  function selectDetails(el) {

    const currViolationID = '#p-' + el.id;
    vioPanel = currViolationID + ' .violation';

    if ($(vioPanel + ':visible').length === 0) {

      $(".violation[id]").css("display", "none");
      // $('.violation-nav').show();

      $(currViolationID).toggle();
      $(vioPanel).hide().first().show();

      $('.ruleDescription').text($(vioPanel + ':visible').attr('rule'));

      // hide navigation bar if only one violation occurred for current type
      prefNextBtnState();

      $('.selected').removeClass('selected');
      $(el).addClass('selected');
      $(el).select();
    }

    const violation = el.id;
    const detailsStatus = $('#detailsStatusString').text();

    setStateForSR(detailsStatus.replace("${violation}", violation));
  }

  function prefNextBtnState() {

    $('#pagerIndexViolations').text($(vioPanel + ':visible').attr('index') + " {{labeling.of}} " + $(vioPanel + ':visible').parent().children().length);
    $('#pagerIndexHints').text($(vioPanel + ':visible').attr('index') + " {{labeling.of}} " + $(vioPanel + ':visible').parent().children().length);
    $('button.btnPagerPrev').prop('disabled', $(vioPanel + ':visible').prev(vioPanel).length === 0);
    $('button.btnPagerNext').prop('disabled', $(vioPanel + ':visible').next(vioPanel).length === 0);
  }

  // provide current application state to screen reader user
  function setStateForSR(text) {
    $('#ariaLive').text(text);
  }

  // $(document).ready(function () {
  //   // User navigates table using keyboard
  //   var currCell = $('tr').first();
  //   $('tr').keyup((e) => {
  //     var c = "";
  //
  //     if (e.which === 38) {
  //       // Up Arrow
  //       c = currCell.closest('tr').prev().find('td:eq(' + currCell.index() + ')');
  //     } else if (e.which === 40) {
  //       // Down Arrow
  //       c = currCell.closest('tr').next().find('td:eq(' + currCell.index() + ')');
  //     }
  //     // If we didn't hit a boundary, update the current cell
  //     if (c.length > 0) {
  //       currCell = c;
  //       currCell.focus();
  //     }
  //   });
  // });
</script>
</body>
</html>

<!--<td>-->
<!--&lt;!&ndash; condition employe.year &ndash;&gt;-->
  <!--{{#year}} &lt;!&ndash; condition if &ndash;&gt;-->
<!--{{.}}-->
  <!--{{/year}}-->
  <!--{{^year}} &lt;!&ndash; condition else &ndash;&gt;-->
<!--Not Available-->
  <!--{{/year}}-->
<!--&lt;!&ndash; condition employe.year &ndash;&gt;-->
<!--</td>-->
