<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./../report.css"/>
  <link rel="stylesheet" href="./report.css"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/darcula.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<h1>{{greetings}}</h1>
<div class="tab-wrap">
  <input type="radio" name="tabs" id="violation" checked>
  <div class="tab-label-content">
    <label for="violation">Violation</label>
    <div class="tab-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div id="template-table">
              <table id="template-violation-table" class="table table-striped table-hover"  data-click-to-select="true"
                     data-single-select="true">
                <thead>
                <th>Violation</th>
                <th>Count</th>
                </thead>
                <tbody>
                <!--{{#groups}}-->
                <tr id="{{name}}">
                  <td>{{name}}</td>
                  <td>{{count}}</td>
                </tr>
                  <!--{{/groups}}-->
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-8">
            <div id="details" class="panel panel-default">
              <div class="panel-heading"><b>Violations Details</b></div>
              <div class="panel-body">
              <!--{{#groups}}-->
                <div id="p{{name}}" class="panel panel-default" style="display: none">
                  <div class="panel-body">
                  <!--{{#violations}}-->
                    <p>
                      <b>Impact of Accessibilty:</b> {{earl:impact}}

                    </p>
                    <div class="panel panel-warning">
                      <div class="panel-heading">
                        Description
                      </div>
                      <div class="panel-body">{{dct:description}}</div>
                    </div>
                    <p><b>Spine Item:</b> <a>{{spineItem}}</a></p>
                    <p>
                      <b>Source Code:</b>
                    <pre><code class="html">
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;title&gt;BACCY&lt;/title&gt;
&lt;body&gt;
  &lt;p checked class=&quot;title&quot; id='title'&gt;Title&lt;/p&gt;
  &lt;!-- here goes the rest of the page --&gt;
&lt;/body&gt;
&lt;/html&gt;
                    </code></pre>
                    </p>
                    <p>
                      <br>
                      <b>More details:</b>
                      <a href="{{helpUrl}}">{{helpUrl}}</a>
                    </p>
                    <!--{{/violations}}-->
                  </div>
                </div>
                <!--{{/groups}}-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="radio" name="tabs" id="outline">
  <div class="tab-label-content">
    <label for="outline">Outlines</label>
    <div class="tab-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <b>EPUB Table of Contents</b>
              </div>
              <div class="panel-body">
                {{{outlines.toc}}}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <b>Headings outline</b>
              </div>
              <div class="panel-body">
                {{{outlines.headings}}}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <b>HTML outline</b>
              </div>
              <div class="panel-body">
                {{{outlines.html}}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="radio" name="tabs" id="image-description">
  <div class="tab-label-content" id="tab3-content">
    <label for="image-description">Image description</label>
    <div class="tab-content">
      <table id="images" class="table">
        <thead>
        <th>Image</th>
        <th style="width:80px"></th>
        <th>Image description</th>
        </thead>
        <tbody>
        <!--{{#images}}-->
        <tr>
          <td>
            <img src="data/{{src}}" alt="{{alt}}"/>
          </td>
          <td style="width:80px"></td>
          <td>
            <div class="panel panel-warning">
              <div class="panel-heading">
                Description
              </div>
              <div class="panel-body">
                <p><b>Location</b> :: {{location}}</p>
                <p><code>alt</code> ::  {{alt}}</p>
                <p><code>figcaption</code> :: {{figcaption}}</p>
                <p><code>aria-describedby</code> :: </p>
                <p>
                  <b>Source Code:</b>
                <pre>
                <code class="html">
{{html}}
                </code>
              </pre>
                </p>
              </div>
            </div>
          </td>
        </tr>
          <!--{{/images}}-->
        </tbody>
      </table>
    </div>
  </div>

  <div class="slide"></div>

</div>
<script>
  $('#template-violation-table > tbody > tr').click(function () {
    $("#details").find(".panel[id]").css("display", "none");
    $('#p' + this.id).toggle();
    $('.selected').removeClass('selected');
    $(this).addClass('selected');
  });
</script>
</body>
</html>

<!--<td>-->
<!--&lt;!&ndash; condition employe.year &ndash;&gt;-->
  <!--{{#year}} &lt;!&ndash; condition if &ndash;&gt;-->
<!--{{.}}-->
  <!--{{/year}}-->
  <!--{{^year}} &lt;!&ndash; condition else &ndash;&gt;-->
<!--Not Available-->
  <!--{{/year}}-->
<!--&lt;!&ndash; condition employe.year &ndash;&gt;-->
<!--</td>-->
