<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<h1>{{greetings}}</h1>
<div class="tab-wrap">
  <input type="radio" name="tabs" id="violation" checked>
  <div class="tab-label-content">
    <label for="violation">Violation</label>
    <div class="tab-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div id="template-table">
              <table class="table table-striped">
                <thead>
                <th>Violation</th>
                <th>Count</th>
                </thead>
                <tbody>
                <!--{{#groups}}-->
                <tr>
                  <td>{{name}}</td>
                  <td>{{count}}</td>
                </tr>
                  <!--{{/groups}}-->
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">Violations details</div>
              <div class="panel-body">Donec vulputate ante ac ligula vestibulum, id mollis diam commodo. Integer at
                consequat magna. Sed elit sem, dictum nec porttitor ac, ultrices id enim. Morbi semper eros a enim malesuada, eu
                finibus erat dictum. Ut vitae orci a odio sagittis malesuada. Cras volutpat vel lorem in tempor. Duis ultricies
                lectus sit amet tellus vehicula faucibus. Etiam sed leo ac erat tempor feugiat at quis ipsum. Mauris
                pellentesque
                nisl lorem, ac finibus sapien sagittis vel. Donec et lobortis est. Vestibulum dignissim ligula nec erat
                interdum,
                quis sollicitudin metus pretium. Vestibulum quis dui sapien. Proin commodo justo ac orci elementum molestie.
                Aliquam mattis orci vitae volutpat commodo.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="radio" name="tabs" id="outline">
  <div class="tab-label-content">
    <label for="outline">Outline</label>
    <div class="tab-content">TAB 2 - Quisque egestas, purus in tempor vulputate, diam augue mollis quam, quis
      elementum
      ipsum ex a risus. Quisque sed augue porta, facilisis felis vitae, cursus mi. Nullam mollis magna eget tincidunt
      mollis. Sed suscipit placerat ultricies. Sed eget lorem et ipsum ultricies congue eu a enim. Nam quis ex nec
      lorem
      dignissim suscipit eu ut felis. Vivamus molestie felis id purus congue, vel ultrices sem molestie.
    </div>
  </div>

  <input type="radio" name="tabs" id="image-description">
  <div class="tab-label-content" id="tab3-content">
    <label for="image-description">Image description</label>
    <div class="tab-content">TAB 3 - Donec vulputate ante ac ligula vestibulum, id mollis diam commodo. Integer at
      consequat magna. Sed elit sem, dictum nec porttitor ac, ultrices id enim. Morbi semper eros a enim malesuada, eu
      finibus erat dictum. Ut vitae orci a odio sagittis malesuada. Cras volutpat vel lorem in tempor. Duis ultricies
      lectus sit amet tellus vehicula faucibus. Etiam sed leo ac erat tempor feugiat at quis ipsum. Mauris
      pellentesque
      nisl lorem, ac finibus sapien sagittis vel. Donec et lobortis est. Vestibulum dignissim ligula nec erat
      interdum,
      quis sollicitudin metus pretium. Vestibulum quis dui sapien. Proin commodo justo ac orci elementum molestie.
      Aliquam mattis orci vitae volutpat commodo.
    </div>
  </div>

  <div class="slide"></div>

</div>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
<!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"-->
<!--crossorigin="anonymous"></script>-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="./../report.css"/>
<link rel="stylesheet" href="./report.css"/>
</body>
</html>

<!--<td>-->
<!--&lt;!&ndash; condition employe.year &ndash;&gt;-->
  <!--{{#year}} &lt;!&ndash; condition if &ndash;&gt;-->
<!--{{.}}-->
  <!--{{/year}}-->
  <!--{{^year}} &lt;!&ndash; condition else &ndash;&gt;-->
<!--Not Available-->
  <!--{{/year}}-->
<!--&lt;!&ndash; condition employe.year &ndash;&gt;-->
<!--</td>-->
