@import '../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';


mat-toolbar.mat-default-theme:not(.mat-menu-toolbar), mat-toolbar:not(.mat-menu-toolbar) {
  background-color: #6e6e6e;
  /*color: white;*/
}


.app-toolbar-filler {
  flex: 1 1 auto;
}

info, show-rules {
  padding-right: 20px;
}

.my-header-title {
  color: white !important;
  /*font-weight: bold !important;*/
  /*border: 2px solid white;*/
  /*border-radius: 6px;*/

}
