<div fxLayout="row">
  <div fxFlex="35"><!--dummy--></div>
  <div fxFlex="65">
    <div class="check-over-whole-wrapper">
      <div fxLayout="column" fxLayoutGap="30px">
        <div fxFlex="60">
          <div ng2FileDrop
               [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="uploader"
               class="my-drop-zone">
            <div class="upload">
              <md-icon class="cloud-icon-upload">cloud_upload</md-icon>
              <h4>To check over your EPUB - Drag & Drop your file here <br><br> or</h4>
              <div class="app-component-filler"></div>
              <input id="input-file-id" ng2FileSelect
                     [uploader]="uploader"
                     [ngClass]="{'hide': true}"
                     type="file"/>
              <label for="input-file-id" class="btn-file"> Choose a file to upload.</label>
            </div>
          </div>
        </div>

        <div fxFlex="5">
          <h3 style="color: inherit; margin-top: 20px">Check over queue</h3>
          <p>Queue length: {{ uploader?.queue?.length }}</p>
        </div>
        <div fxFlex="30">
          <div class="own-table-layout">
            <table style="width:100%">
              <thead>
              <tr>
                <th>Name</th>
                <th><strong>Report</strong></th>
                <th>Size</th>
                <th>Progress</th>
                <th>Upload-Status</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td>
                  <report></report>
                </td>
                <td>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td>
                  <md-progress-bar
                    color="warn"
                    mode="buffer"
                    [value]="item?.progressValue"
                    [bufferValue]="item.progress"
                    class="custom-progressbar">
                  </md-progress-bar>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><md-icon>done</md-icon></span>
                  <span *ngIf="item.isCancel"><md-icon>not_interested</md-icon></span>
                  <span *ngIf="item.isError"><md-icon>delete</md-icon></span>
                </td>
                <td nowrap>
                  <button md-icon-button
                          type="button"
                          color="primary"
                          (click)="item.upload()"
                          [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <md-icon>file_upload</md-icon>
                  </button>
                  <button md-icon-button
                          type="button"
                          color="warn"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <md-icon>cancel</md-icon>
                  </button>
                  <button md-icon-button
                          color="accent"
                          type="button"
                          (click)="item.remove()">
                    <md-icon>delete</md-icon>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div fxFlex="5">
          <div>
            <div>
              Queue progress:
              <md-progress-bar
                mode="determinate"
                [value]="uploader.progress"
                class="custom-progressbar">
              </md-progress-bar>
            </div>

            <!--<md-card>-->
            <button md-raised-button color="primary" class="my-btn"
                    type="button"
                    (click)="uploader.uploadAll()"
                    [disabled]="!uploader.getNotUploadedItems().length">
              <md-icon>file_upload</md-icon>
              Check over all
            </button>
            <button md-raised-button color="warn" class="my-btn"
                    type="button"
                    (click)="uploader.cancelAll()"
                    [disabled]="!uploader.isUploading">
              <md-icon>cancel</md-icon>
              Cancel all
            </button>
            <button md-raised-button color="accent" class="my-btn"
                    type="button"
                    (click)="uploader.clearQueue()"
                    [disabled]="!uploader.queue.length">
              <md-icon>delete</md-icon>
              Remove all
            </button>
            <!--</md-card>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
