
body {
  min-width: 620px;
  min-height: 630px;
  font-feature-settings: 'liga'
}

.flat-btn {
  display: inline-block;
  border-radius: 6px;
  color: #f2f2f2;
  cursor: pointer;
  outline: 0;
  font-size: small;
  line-height: normal;
}

.flat-info-btn {
  background: transparent;
}

.flat-info-btn:hover {
  background: #223e53;
}

.flat-info-btn:focus {
  background: #223e53;
}

.flat-border-btn {
  padding: 6px 14px;
}

.flat-border-btn, .flat-border-btn:hover {
  border: 2px solid #ffffff;
}

.custom-modal {
  width: 85vw !important;
  height: 76vh !important;
}

@media screen and (max-height: 700px) {
  .bacc-background-color {
    /*background-color: #fa3c43 !important;;*/
    font-size: smaller !important;
  }

  h4 {
    font-size: small !important;
  }

  .mat-icon-button {
    width: 20px !important;
    height: 20px !important;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
