iframe {
  width: 100%;
  height: 100%;
  frameborder: 0;
}

.app-modal-body {
  height: 100%;
}

modal {
  color: black;
}

.popover {
  font-weight: bold;
  color: white;
  background-color: #353535;
}
